{% load static %}

<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body">
                    <img src="{% static 'images/Profile.jpeg' %}" />
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <H2> Taniya Verma</H2>
                    <hr>
                    <p class="p-2">
                        I am a undergraduate student from Sathyabama Institute of Science and technology having
                        expertise in Java, Python, React,
                        Data Structures and algorithms. I have interest in problem solving and I am seeking out
                        opportunities to work in a firm with a
                        professional work driven environment where I can utilize and apply my knowledge, skills and
                        resources which would enable
                        me as a fresh graduate to grow while fulfilling organizational goals.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body">
                    <H3> Experience</H3>
                    <hr>
                    <p class="p-2">
                        Student Trainee June 2022 – May 2023
                        <br>
                        Nokia Bangalore
                        <br>
                        • Taken up the role as test engineer, worked in end to end network testing of telecom products
                        which includes feature
                        and functional testing in LTE and NBIoT domain. Have hands on experience in commercial testing
                        tools like QXDM,
                        QCOM, Emil.
                        <br>
                        • Test Automation Knowledge in ROBOT Framework and python.Strong scripting knowledge on the
                        Linux
                        OS.Contributed in developing scripts for feature related automation testing.
                    </p>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body">
                    <H3> Technical Skills</H3>
                    <hr>
                    <p class="p-2">

                        Languages : Java, Python, JavaScript, HTML, CSS
                        <br>
                        Frameworks : React.js, Robot Framework
                        <br>
                         Databases : Mysql
                         <br>
                         Dev Tools : Visual Studio Code
                    </p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>